

.progress_bar {
  width: 100%; padding: 5px 15px; display: flex; align-items: center; background: #b2dfff;
  flex-direction: row;
}
.bar_icon { width: auto; padding: 0 10px; }

.bar_text { width: 100%; text-align: left; border: none; flex: 0; white-space: nowrap; }

.bar-text > h3 {
    border-bottom: none !important; padding: 0 !important; font-size: 0.7em; white-space: nowrap;
 }

.spinner {
  stroke: black;
  animation: rotate 2s linear infinite;
  z-index: 2;
  height: 30px;
}

.spinner > .path {
  stroke: hsl(210, 70, 75);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
