
.reactFrameit_betterForm {
     width: 100%; height: auto; display: flex; flex-direction: column;
     margin-bottom: 100px;
}

.reactFrameit_betterForm_svg {
     width: 100%; height: 100%;
     display: flex; align-items: center; justify-content: center;
}

.reactFrameit_betterForm_form {
     width: 100%; height: 100%; display: flex; align-items: center;
     justify-content: center; flex-direction: column;
}

.reactFrameit_betterForm_form > .betterForm_form__errorMsg {
    width: 40%; height: auto; background: #fad8d8; border: 1px solid red;
    text-align: center; padding: 10px;
    font-size: 0.6em;
}

.reactFrameit_betterForm_form > .betterForm_form__errorMsg > h3 {
    font-size: 1em;
}

.reactFrameit_betterForm_form > form {
     width: 40%; height: 100%;
}

.reactFrameit_betterForm_form > form > input {
     width: 100%; display: block; margin: 10px 0; padding: 10px; border: 1px solid black;
     box-shadow: 3px 4px black;
}

.reactFrameit_betterForm_form_submit {
    width: 100px;
    padding: 10px 20px;
    color: white;
    border-radius: 7px;
    box-shadow: 1px 3px 4px 0px #6868e6;
    background: darkblue;
}


.reactFrameit_betterForm_form_submit > p {
  text-align: center;
}

.reactFrameit_betterForm_form > form > textarea:focus, .reactFrameit_betterForm_form > form > input:focus{
    outline: none;
}
