.navigation_sub {
    height: auto;
    width: 100%;
    
    ul { 
        padding: 10px 0; display: flex;
        border-bottom: 1px solid rgb(218, 213, 213);
        li {
            display: inline-block;
            font-weight: 400;
            font-size: 0.7em;
            margin-right: 5px;
             a {
                 padding: 10px; position: relative; top: 1px;
             }
             a:first-child {
                 padding-left: 0;
             }
        }
    }
}
