
.react_frameitSVG {
      stroke: black;
      width: auto;
      height: 15px;
      stroke-width: 5;
      overflow: visible;
      margin: 0 5px;
}

.trashcan {
   stroke: none;
}

.plusIcon {
    stroke-width: 10;
}
