
$app_paddingHorizontal: 5%;
$primary_darkBackground: white;
$primaryBorder: #f1f1f1;;
$primary_background: white;

@mixin buttonStyle ( ) {

}

@mixin inputStyle ( ) {

}

@mixin boxShadow ( $color , $space ) {

}

@mixin flexbox_row ( $v_type , $h_type ) {
   flex-direction: row; justify-content: $h_type ; align-items: $v_type;
}
