.dropdown {
    position: relative; display: inline-block; cursor: pointer;
}

.dropdown.overlap_left .dropdown-content  {
    top:    0 !important;
    bottom: unset !important;  
    left:   unset !important;
}

.dropdown.overlap_right .dropdown-content  {
    top:    0 !important;
    right:  unset !important;
    bottom: unset !important;
}

.dropdown_vertical_top {
    top: unset;
}

.dropdown__dark {
    background-color: black; 
}

.dropdown__light {
  background-color: white; 
}

.dropdown_titleArea {
    display: flex; flex-direction: row; align-items: center;
    padding: 5px;
}

/* DARK */
.dropdown__dark ul {
  color: white !important;
}


/* LIGHT */
.dropdown__white ul {
  color: black !important;
}


/* POSITION */

.dropdown__left  { left: 0;  }

.dropdown__right { right: 0; }

.dropdown__center { 
    left: 50%;
    -webkit-transform: translate(-50%, 0 );
    -moz-transform: translate(-50%, 0 );
    -ms-transform: translate(-50%, 0 );
    -o-transform: translate(-50%,  0 );
    transform: translate(-50%, 0 );
}


/* FLOW - Horizontal */

.dropdown-content.dropdown__horz {
    width: auto; height: auto; display: inline-block;
}

.dropdown__horz ul {
    display: flex; justify-content: center; 
}

.dropdown__horz ul li { 
    display: inline-block !important; 
}


/* FLOW - Vertical  */

.dropdown__vert ul li {
    display: block !important;
}


.dropdown-content {
    border-radius: 7px; display: block; position: absolute; 
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px; z-index: 9999; 
}

svg , i { line-height: 0; vertical-align: 0; }

.dropdown_item_container { 
    cursor: initial; 
    margin: 0; padding: 0;
}

.dropdown-content > ul > li {
    margin: 9px 0;  padding: 10px 5px; border-radius: 6px; font-size: 0.7em; font-weight: 600; cursor: pointer;
    list-style: none;
    white-space: nowrap;
}

.dropdown-content > ul > li:hover { background: #1673e614; }
