
.reactFrameit_progressBar {
  background: #5962e67a; position: relative; width: 100%; height: 30px; border-radius: 5px; overflow: hidden;
}

.reactFrameit_progressBar_inner  {
    height: 100%;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out; -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    background-size: 26px 26px; background-color: blue; background-image:
    linear-gradient(
      45deg, rgba(255, 255, 255, .3) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .3) 50%,
      rgba(255, 255, 255, .3) 75%, transparent 75%, transparent
    )
}

.reactFrameit_progressBar_green {

}

.reactFrameit_progressBar_purple {

}

.reactFrameit_progessBar_red {

}

.reactFrameit_progressBar_orange {

}
