
header.app_header {
    width: 100%; background: white; z-index: 9999;
    display: -ms-flexbox; display: flex;  align-items: center;

    div {
      display: -ms-flexbox; display: flex; align-items: center;
      height: 100%; white-space: nowrap;
    }

    ul , li { display: inline-block; margin: 0 10px; }

    .header-title  {
        width: 100%; white-space: nowrap;
        flex: 0; display: flex; align-items: center;

        div {
          background: #f4f4f4; border-radius: 5px; padding: 6px;
          img {
              width: 35px; height: 30px; border-radius: 5px;
          }
        }

        h1 {
          display: inline-block; padding: 5px 20px; border-radius: 6px;
          text-align: center;
        }
    }

    .header-search { flex: 0 0 20%; padding: 0 20px; }

    .header-social {
        flex: 1; justify-content: flex-end;
        > ul {
          display: flex; align-items: center;
        }
        > ul > li.header_hamburger {
              cursor: pointer;
        }

        > ul > li > a {
            cursor: pointer;
            svg , i {
                font-size: 2.8em;
            }
        }
    }
}

// #app__mainlayout.responsive_large .app_header {
//     background: red;
// }
//
// #app__mainlayout.responsive_medium .app_header {
//     background: green;
// }
//
// #app__mainlayout.responsive_small .app_header {
//     background: blue;
// }
