

.eyeBall {
  opacity: 1; transition: transform 400ms;
}

.eyes-open-static > .eyeBall {
  opacity: 0;
}

.eyes-closed-static {
  opacity: 1;
}

.eyes-open {
   animation-duration: 3s;
   animation-name: blink;
   animation-iteration-count: infinite;
}

.eyes-closed {
  animation-duration: 3s;
  animation-name: blink-back;
  animation-iteration-count: infinite;
}

.head {
  transform-origin: 450px 480px;
  display: inline-block;
  animation-duration: 1.5s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes blink {
  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes blink-back {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
